@font-face {
    font-family: 'AirbnbCereal';
    src: url('../fonts/AirbnbCerealWBd.eot');
    src: url('../fonts/AirbnbCerealWBd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AirbnbCerealWBd.woff2') format('woff2'),
        url('../fonts/AirbnbCerealWBd.woff') format('woff'),
        url('../fonts/AirbnbCerealWBd.ttf') format('truetype'),
        url('../fonts/AirbnbCerealWBd.svg#AirbnbCerealWBd') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url('../fonts/AirbnbCerealWMd.eot');
    src: url('../fonts/AirbnbCerealWMd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AirbnbCerealWMd.woff2') format('woff2'),
        url('../fonts/AirbnbCerealWMd.woff') format('woff'),
        url('../fonts/AirbnbCerealWMd.ttf') format('truetype'),
        url('../fonts/AirbnbCerealWMd.svg#AirbnbCerealWMd') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url('../fonts/AirbnbCerealWXBd.eot');
    src: url('../fonts/AirbnbCerealWXBd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AirbnbCerealWXBd.woff2') format('woff2'),
        url('../fonts/AirbnbCerealWXBd.woff') format('woff'),
        url('../fonts/AirbnbCerealWXBd.ttf') format('truetype'),
        url('../fonts/AirbnbCerealWXBd.svg#AirbnbCerealWXBd') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url('../fonts/AirbnbCerealWLt.eot');
    src: url('../fonts/AirbnbCerealWLt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AirbnbCerealWLt.woff2') format('woff2'),
        url('../fonts/AirbnbCerealWLt.woff') format('woff'),
        url('../fonts/AirbnbCerealWLt.ttf') format('truetype'),
        url('../fonts/AirbnbCerealWLt.svg#AirbnbCerealWLt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url('../fonts/AirbnbCerealWBk.eot');
    src: url('../fonts/AirbnbCerealWBk.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AirbnbCerealWBk.woff2') format('woff2'),
        url('../fonts/AirbnbCerealWBk.woff') format('woff'),
        url('../fonts/AirbnbCerealWBk.ttf') format('truetype'),
        url('../fonts/AirbnbCerealWBk.svg#AirbnbCerealWBk') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* All Common Using Variables. */
:root{

    
    --AirbnbCerealApp: 'AirbnbCereal';

    --background: #1A2530;
    --white: #fff;
    
    --color-1: #707B81;
    --color-2: #161F28;
    --color-3: #737373;
    --color-4: #F87265;
    --color-5: #E5EEF7;
    --color-6: #202E3C;
    --color-7: #2D3B48;
    --color-8: #1F2C39;

    --btn-bg: #5B9EE1;

    --box-shadow-color: #485F761F;

    --font-1: 40px;
    --font-2: 28px;
    --font-3: 24px;
    --font-4: 20px;
    --font-5: 18px;
    --font-6: 16px;
    --font-7: 14px;
    --font-8: 12px;
    --font-9: 10px;
}

*{
    font-family: var(--AirbnbCerealApp);
    margin: 0;
    padding: 0;
}

.container{
    max-width: 676px;
}

body{
    background: var(--background);
    color: var(--white);
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a,button {
    display: inline-block;
    text-decoration: none;
	transition: all .4s;
}

button:hover,
a:hover {
    text-decoration: none;
}

a:focus{
    outline: none;
    box-shadow: none;
}

img {
    max-width: 100%;
}

ul, ol{
    padding: 0;
    margin: 0;
}

ul li, ol li{
    list-style-type: none;
}

/* Screen 1,2,3 CSS Starts */
.screen-wrapper{
    padding: 130px 10px 40px;
    height: 100vh;
    position: relative;
}

.screen-wrapper:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url('../images/bg-img.png') no-repeat;
    background-size: 100% auto;
    background-position: top right;
    width: 181px;
    height: 207px;
}

.screen-wrapper .slider-container .slider-img img{
    width: 100%;
}

.screen-wrapper .slider-container .slider-content {
    margin: 20px 0;
}

.screen-wrapper .slider-container .slider-content h2{
    font-size: var(--font-1);
    font-weight: 500;
    color: var(--white);
    line-height: 1.4em;
    text-transform: capitalize;
}

.screen-wrapper .slider-container .slider-content p{
    font-size: var(--font-4);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.6em;
}

.screen-wrapper .slider-action{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.screen-wrapper .slider-action .slider-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-items: center;
}

.screen-wrapper .slider-action .slider-nav ul li {
    width: 8px;
    height: 5px;
    background: var(--color-5);
    border-radius: 16px;
    margin-right: 8px;
}

.screen-wrapper .slider-action .slider-nav ul li:last-child {
    margin-right: 0;
}

.screen-wrapper .slider-action .slider-nav ul li.active {
    background: var(--btn-bg);
    width: 35px;
}

.screen-wrapper .slider-action .slider-btn a.btn{
    background: var(--btn-bg);
    color: var(--white);
    border: none;
    padding: 16px 32px;
    font-size: var(--font-5);
    font-weight: 500;
    border-radius: 50px;
}

.screen-wrapper .slider-action .slider-btn a.btn:hover{
    background: var(--white);
    color: var(--color-2)
}
/* Screen 1,2,3 CSS Ends */

/* Sign-In Screen CSS Starts */
.signin-wrapper{
    padding: 40px 10px;
    height: 100vh;
    position: relative;
}

.signin-wrapper .back-btn .btn.btn-back{
    display: inline-block;
    width: 44px;
    height: 44px;
    background: var(--color-2);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.signin-wrapper .back-btn .btn.btn-back i{
    color: var(--white)
}

.signin-wrapper .back-btn .btn.btn-back:hover{
    background: var(--btn-bg);
}

.signin-wrapper .signin-heading{
    text-align: center;
    margin: 20px 0 60px;
}

.signin-wrapper .signin-heading h2{
    font-size: var(--font-2);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
}

.signin-wrapper .signin-heading p{
    font-size: var(--font-4);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.6em;
}

.signin-wrapper .signin-form form .form-group{
    margin-bottom: 20px;
}

.signin-wrapper .signin-form form .form-group label{
    font-size: var(--font-6);
    font-weight: 500;
    color: var(--white);
    margin-bottom: 10px;
    width: 100%;
}

.signin-wrapper .signin-form form .form-group input{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 50px;
    background: var(--color-2);
    color: var(--white);
}

.signin-wrapper .signin-form form .form-group input:focus{
    outline: none;
    box-shadow: none;
}

.signin-wrapper .signin-form form .form-group input::placeholder{
    color: var(--white);
}

.signin-wrapper .signin-form form .form-group .pwd-field{
    position: relative;
}

.signin-wrapper .signin-form form .form-group .pwd-field svg{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}

.signin-wrapper .signin-form form .form-group a.recovery-pwd{
    width: 100%;
    font-size: var(--font-7);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.2em;
    text-align: right;
}

.signin-wrapper .signin-form form .form-group a.recovery-pwd:hover{
    color: var(--white);
}

.signin-wrapper .signin-form form .form-group .btn{
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 30px;
    font-size: var(--font-6);
    font-weight: 500;
    border-radius: 50px;
}

.signin-wrapper .signin-form form .form-group .btn:last-child{
    margin-bottom: 0;
}

.signin-wrapper .signin-form form .form-group .btn.btn-submit{
    background: var(--btn-bg);
    color: var(--white);
}

.signin-wrapper .signin-form form .form-group .btn.google-signin{
    background: var(--color-2);
    color: var(--white);
}

.signin-wrapper .signin-form form .form-group .btn.google-signin img{
    margin-right: 10px;
}

.signin-wrapper .signin-form form .form-group .btn.google-signin:hover{
    background: var(--btn-bg);
}

.signin-wrapper .sign-up-link{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}

.signin-wrapper .sign-up-link p{
    font-size: var(--font-8);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.6em;
}

.signin-wrapper .sign-up-link p a{
    font-weight: 500;
    color: var(--white);
    text-transform: capitalize;
}

.signin-wrapper .sign-up-link p a:hover{
    color: var(--btn-bg);
}
/* Sign-In Screen CSS Ends */

/* Home Page CSS Starts */
.header-section{
    padding: 20px 10px;
}

.header-section .filter-btn a,
.header-section .whishlist-btn a,
.header-section .whishlistbtn-detail a,
.header-section .favourite-btn a{
    display: inline-block;
    width: 44px;
    height: 44px;
    background: var(--color-2);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.header-section .filter-btn a:hover,
.header-section .whishlist-btn a:hover,
.header-section .whishlistbtn-detail a:hover,
.header-section .favourite-btn a:hover{
    background-color: var(--btn-bg);
}

.header-section .whishlist-btn{
    position: relative;
}

.header-section .whishlist-btn:after{
    content: '';
    position: absolute;
    top: 3px;
    right: -5px;
    background: var(--color-4);
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.header-section .location{
    text-align: center;
}

.header-section .location p{
    font-size: var(--font-8);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.6em;
}

.header-section .location h2{
    font-size: var(--font-7);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    position: relative;
    vertical-align: middle;
}

.search-section{
    padding: 20px 10px;
}

.search-section .search form .form-group input{
    width: 100%;
    padding: 16px 20px 16px 60px;
    border: none;
    border-radius: 50px;
    background: var(--color-2);
    color: var(--white);    
}

.search-section .search form .form-group input:focus{
    outline: none;
    box-shadow: none;
}

.search-section .search form .form-group{
    position: relative;
}

.search-section .search form .form-group svg{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}

.brand-section{ 
    padding: 10px;
}

.brand-section .brand ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.brand-section .brand ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: var(--color-2);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s;
}

.brand-section .brand ul li span{
    display: none;
    font-size: var(--font-8);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
}

.brand-section .brand ul li:hover span{
    display: block;
}

.brand-section .brand ul li:hover span svg{
    display: inline-block;
    width: 25px !important;
    height: 25px !important;
    margin-right: 5px;
}

.brand-section .brand ul li:hover > svg{
    display: none;
}

.brand-section .brand ul li:hover{
    background: var(--btn-bg);
    width: 100px;
    padding: 0 5px;
    justify-content: space-between;
}

.popular-shoes-section,
.new-arrivals-section{
    padding: 10px;
}

.popular-shoes-section .heading-section,
.new-arrivals-section .heading-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popular-shoes-section .heading-section h2,
.new-arrivals-section .heading-section h2{
    font-size: var(--font-6);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
}

.popular-shoes-section .heading-section a,
.new-arrivals-section .heading-section a{
    font-size: var(--font-8);
    font-weight: 400;
    color: var(--btn-bg);
}

.popular-shoes-section .heading-section a:hover,
.new-arrivals-section .heading-section a:hover{
    color: var(--white);
}

.popular-shoes-section .shoes-list{
    display: flex;
    flex-wrap: wrap;
}

.popular-shoes-section .shoes-list .item{
    width: calc( 50% - 10px );
    margin-right: 20px;
    padding: 10px;
    border-radius: 16px;
    background: var(--color-2);
    position: relative;
}

.popular-shoes-section .shoes-list .item:nth-of-type( 2n + 2 ){
    margin-right: 0;
}

.popular-shoes-section .shoes-list .item .item-img{
    text-align: center;
}

.popular-shoes-section .shoes-list .item .item-img img{
    transform: rotate(10deg);
}

.popular-shoes-section .shoes-list .item .item-info h5{
    font-size: var(--font-8);
    font-weight: 400;
    color: var(--btn-bg);
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.popular-shoes-section .shoes-list .item .item-info h2{
    font-size: var(--font-5);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.popular-shoes-section .shoes-list .item .item-info p{
    font-size: var(--font-6);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
}

.popular-shoes-section .shoes-list .item .item-btn{
    position: absolute;
    bottom: 0;
    right: 0;
}

.popular-shoes-section .shoes-list .item .item-btn a{
    display: inline-block;
    padding: 6px 10px;
    background: var(--btn-bg);
    color: var(--white);
    border-radius: 16px 0 16px 0;
}

.popular-shoes-section .shoes-list .item .item-btn a:hover{
    background: var(--white);
    color: var(--btn-bg);
}

.new-arrivals-section .new-arrivals{
    padding: 20px;
    border-radius: 16px;
    background: var(--color-2);
}

.new-arrivals-section .new-arrivals .arrivals-detail h5{
    font-size: var(--font-8);
    font-weight: 500;
    color: var(--btn-bg);
    line-height: 1.2em;
    text-transform: uppercase;
}

.new-arrivals-section .new-arrivals .arrivals-detail h2{
    font-size: var(--font-4);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    text-transform: capitalize;
}

.new-arrivals-section .new-arrivals .arrivals-detail p{
    font-size: var(--font-6);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    margin-top: 20px;
}

.new-arrivals-section .new-arrivals .arrivals-img img{
    width: 100%;
    transform: rotate(-14.5deg);
}

.footer-section{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px 10px 30px;
    background: url('../images/footer-bg-img.png') no-repeat bottom center;
    background-size: 100% 100%;
}

.footer-section .footer-menu ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.footer-section .footer-menu ul li a:hover svg path{
    fill: var(--btn-bg);
}

.footer-section .footer-menu ul li.whishlist-menu-item{
    margin-top: -80px;
}

.footer-section .footer-menu ul li.whishlist-menu-item a{
    width: 56px;
    height: 56px;
    background: var(--btn-bg);
    border-radius: 50px;
    display: flex;
    flex-wrap: nowrap;  
    justify-content: center;
    align-items: center;
}

.footer-section .footer-menu ul li.whishlist-menu-item a:hover{
    background: var(--color-2);
}

.footer-section .footer-menu ul li.heart-menu-item a:hover svg path,
.footer-section .footer-menu ul li.whishlist-menu-item a:hover svg path{
    fill: transparent !important;
}

.footer-section .footer-menu ul li.heart-menu-item a:hover svg path{
    stroke: var(--btn-bg);
}
/* Home Page CSS Ends */

/* Details Page CSS Starts */

.header-section .filter-btn a i{
    color: var(--white);
}

.shoes-deg-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product-image {
    width: 100%;
    height: auto;
    transform-origin: center;
    transition: transform 0.1s ease-in-out;
}

.circular-slider-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.circular-slider {
    position: absolute;
    width: 100%;
    appearance: none; /* Remove default styling */
    background: transparent;
    border-radius: 50%;
    border: 3px solid var(--btn-bg);
    outline: none;
    pointer-events: all; /* Ensure it is interactable */
    cursor: pointer;
}

/* Hide the default thumb and style it as part of the circle */
.circular-slider::-webkit-slider-thumb {
    appearance: none;
    width: 40px;
    height: 40px;
    background: url('../images/arrows.svg'), var(--btn-bg);
    background-position: center center;
    background-size: 70% auto;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

.circular-slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: url('../images/arrows.svg'), var(--btn-bg);
    background-position: center center;
    background-size: 70% auto;
    background-repeat: no-repeat;
    border-radius: 50%;
    pointer-events: all;
}

.shoes360deg-section{
    padding: 0 10px 60px;
}

.shoes360deg-section .shoes-deg-section img{
    cursor: ew-resize;
}

.shoes360deg-section .shoes-deg-section #preload-imgs{
    display: none;
}

.shoesdetail-section{
    padding: 20px 0 0;
    background: var(--color-2);
    border-radius: 16px 16px 0 0;
    position: relative;
}

.shoesdetail-section .shoes-detail,
.shoesdetail-section .shoes-gallery,
.shoesdetail-section .shoes-size{
    margin-bottom: 30px;
    padding: 0 10px;
}

.shoesdetail-section .shoes-detail h5{
    font-size: var(--font-7);
    font-weight: 400;
    color: var(--btn-bg);
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.shoesdetail-section .shoes-detail h2{
    font-size: var(--font-3);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.shoesdetail-section .shoes-detail h3{
    font-size: var(--font-5);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    margin-bottom: 10px;
}

.shoesdetail-section .shoes-detail p{
    font-size: var(--font-7);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.4em;
    margin-bottom: 20px;
}

.shoesdetail-section .shoes-gallery h2,
.shoesdetail-section .shoes-size .size h2{
    font-size: var(--font-4);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    margin-bottom: 10px;
}

.shoesdetail-section .shoes-gallery ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.shoesdetail-section .shoes-gallery ul li{
    margin-right: 20px;
}

.shoesdetail-section .shoes-gallery ul li:last-child{
    margin-right: 0;
}

.shoesdetail-section .shoes-gallery ul li a{
    padding: 10px;
    background: var(--background);
    border-radius: 16px;
    text-align: center;
    width: 60px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.shoesdetail-section .shoes-gallery ul li a img{
    transform: rotate(-14.5deg)
}

.shoesdetail-section .shoes-gallery ul li a:hover{
    background: var(--btn-bg);
}

.shoesdetail-section .shoes-size .size{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.shoesdetail-section .shoes-size .size ul,
.shoesdetail-section .shoes-size .size-list ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.shoesdetail-section .shoes-size .size ul li{
    margin-left: 10px;
}

.shoesdetail-section .shoes-size .size ul li:first-child{
    margin-left: 0;
}

.shoesdetail-section .shoes-size .size ul li a{
    font-size: var(--font-7);
    font-weight: 500;
    line-height: 1.2em;
    color: var(--color-1);
}

.shoesdetail-section .shoes-size .size ul li a:hover,
.shoesdetail-section .shoes-size .size ul li.active a{
    color: var(--white);
}

.shoesdetail-section .shoes-size .size-list{
    margin-top: 20px;
}

.shoesdetail-section .shoes-size .size-list ul li{
    margin-right: 15px;
}

.shoesdetail-section .shoes-size .size-list ul li:last-child{
    margin-right: 0;
}

.shoesdetail-section .shoes-size .size-list ul li a{
    width: 45px;
    height: 45px;
    background: var(--background);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: var(--color-1);
}

.shoesdetail-section .shoes-size .size-list ul li a:hover,
.shoesdetail-section .shoes-size .size-list ul li.active a{
    background: var(--btn-bg);
    color: var(--white);
}

.price-and-atc-section{
    padding: 20px 10px;
    background: var(--color-2);
    border-radius: 24px 24px 0 0;
    position: sticky;
    bottom: 0;
    left: 15px;
    right: 15px;
    box-shadow: -1.5px 0 4px 0 var(--box-shadow-color);
}

.price-and-atc-section .price-block h5{
    font-size: var(--font-6);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.2em;
    margin-bottom: 10px;
}

.price-and-atc-section .price-block h2{
    font-size: var(--font-4);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
}

.price-and-atc-section .addtocart-btn .btn-addtocart{
    width: 100%;
    display: inline-block;
    font-size: var(--font-5);
    font-weight: 500;
    border-radius: 50px;
    padding: 16px 32px;
    color: var(--white);
    background: var(--btn-bg);
}

.price-and-atc-section .addtocart-btn .btn-addtocart:hover{
    background: var(--white);
    color: var(--btn-bg);
}
/* Details Page CSS Ends */

/* Favourite Page CSS Starts */
.header-section .header-title{
    text-align: center;
}

.header-section .header-title h2{
    font-size: var(--font-7);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    position: relative;
    vertical-align: middle;
}

.favourite-list-section{
    padding: 20px 10px;
}

.favourite-list-section .favourite-list{
    display: flex;
    flex-wrap: wrap;
}

.favourite-list-section .favourite-list .item{
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 16px;
    background: var(--color-2);
    position: relative;
}

.favourite-list-section .favourite-list .item:nth-of-type( 2n + 2 ){
    margin-right: 0;
}

.favourite-list-section .favourite-list .item .item-image{
    text-align: center;
}

.favourite-list-section .favourite-list .item .item-image img{
    transform: rotate(10deg);
}

.favourite-list-section .favourite-list .item .item-info h5{
    font-size: var(--font-8);
    font-weight: 400;
    color: var(--btn-bg);
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.favourite-list-section .favourite-list .item .item-info{
    margin-bottom: 10px;
}

.favourite-list-section .favourite-list .item .item-info h2{
    font-size: var(--font-5);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.favourite-list-section .favourite-list .item .item-price-color{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.favourite-list-section .favourite-list .item .item-price-color .price,
.favourite-list-section .favourite-list .item .item-price-color .color{
    width: 50%;
}

.favourite-list-section .favourite-list .item .item-price-color .price h2{
    font-size: var(--font-6);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
}

.favourite-list-section .favourite-list .item .item-price-color .color ul{
    display: flex;
    flex: wrap;
    justify-content: end;
}

.favourite-list-section .favourite-list .item .item-price-color .color ul li{
    width: 15px;
    height: 15px;
    border: 2px solid var(--background);
    border-radius: 100%;
    margin-right: 5px;
}

.favourite-list-section .favourite-list .item .item-price-color .color ul li:last-child{
    margin-right: 0;
}

.favourite-list-section .favourite-list .item .item-heart-btn{
    position: absolute;
    top: 10px;
    left: 10px;
}

.favourite-list-section .favourite-list .item .item-heart-btn a{
    width: 28px;
    height: 28px;
    background: var(--background);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.favourite-list-section .favourite-list .item .item-heart-btn a svg{
    width: 20px;
    height: 20px;
}

.favourite-list-section .favourite-list .item .item-heart-btn a:hover svg path,
.favourite-list-section .favourite-list .item .item-heart-btn a.active svg path{
    stroke: var(--color-4);
}
/* Favourite Page CSS Ends */

/* My Cart Page CSS Starts */
.cart-list-section{
    padding: 20px 10px;
    height: 100vh;
}

.cart-list-section .cart-list .item{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.cart-list-section .cart-list .item .item-image{
    width: 25%;
    padding: 10px;
    background: var(--color-2);
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cart-list-section .cart-list .item .item-image img{
    transform: rotate(-14.5deg)
}

.cart-list-section .cart-list .item .item-info{
    width: 65%;
    padding: 0 20px;
}

.cart-list-section .cart-list .item .item-info h2{
    font-size: var(--font-6);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.cart-list-section .cart-list .item .item-info h5{
    font-size: var(--font-7);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    margin-bottom: 20px;
}

.cart-list-section .cart-list .item .item-action{
    width: 10%;
}

.cart-list-section .cart-list .item .item-info .number-input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart-list-section .cart-list .item .item-info .number-input input[type="number"] {
    text-align: center;
    font-size: var(--font-7);
    border: none;
    color: var(--white);
    background: transparent ;
}

.cart-list-section .cart-list .item .item-info .number-input button {
    width: 24px;
    height: 24px;
    background-color: var(--color-2);
    color: var(--white);
    font-size: var(--font-8);
    font-weight: 500;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-list-section .cart-list .item .item-info .number-input button:hover,
.cart-list-section .cart-list .item .item-info .number-input button:active {
    background-color: var(--btn-bg);
}

.cart-list-section .cart-list .item .item-action{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.cart-list-section .cart-list .item .item-action h2{
    width: 100%;
    text-align: center;
    font-size: var(--font-7);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.cart-list-section .cart-list .item .item-action a:hover svg path{
    stroke: var(--color-4);
}

.calculation-section{
    position: sticky;
    bottom: 0;
    left: 15px;
    right: 15px;
    padding: 20px 10px;
    border-radius: 24px 24px 0 0;
    background: var(--color-2);
}

.calculation-section .calculation table{
    width: 100%;
}

.calculation-section .calculation table tr td{
    padding: 15px 0;
}

.calculation-section .calculation table tr td.title{
    text-align: left;
    font-size: var(--font-6);
    font-weight: 500;
    color: var(--color-1);
    line-height: 1.2em;
}

.calculation-section .calculation table tr td.price{
    text-align: right;
    font-size: var(--font-5);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
}

.calculation-section .calculation table tr.total{
    border-top: 2px dashed var(--background)
}

.calculation-section .calculation table tr.total td.total-title{
    text-align: left;
    font-size: var(--font-6);
    font-weight: 500;
    color: var(--color-1);
    line-height: 1.2em;
}

.calculation-section .calculation table tr.total td.total-price{
    text-align: right;
    font-size: var(--font-4);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
}

.calculation-section .calculation a.checkout-btn,
.calculation-section .calculation button.checkout-btn{
    width: 100%;
    display: inline-block;
    font-size: var(--font-5);
    font-weight: 500;
    border-radius: 50px;
    padding: 16px 32px;
    color: var(--white);
    background: var(--btn-bg);
    text-align: center;
    margin-top: 20px;
}

.calculation-section .calculation a.checkout-btn:hover,
.calculation-section .calculation button.checkout-btn:hover{
    background: var(--white);
    color: var(--btn-bg)
}
/* My Cart Page CSS Ends */

/* Checkout Page CSS Starts */
.checkout-section-wrapper .checkout-section{
    padding: 20px;
    background: var(--color-2);
    border-radius: 16px;
    margin: 0 10px 20px;
}

.checkout-section-wrapper .checkout-section .contact-information h2,
.checkout-section-wrapper .checkout-section .address-information h2,
.checkout-section-wrapper .checkout-section .payment-method h2{
    font-size: var(--font-7);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    margin-bottom: 20px;
    text-transform: capitalize;  
}

.checkout-section-wrapper .checkout-section .contact-information .email-info,
.checkout-section-wrapper .checkout-section .contact-information .contact-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.checkout-section-wrapper .checkout-section .contact-information .email-info .email-icon,
.checkout-section-wrapper .checkout-section .contact-information .email-info .email-action,
.checkout-section-wrapper .checkout-section .contact-information .contact-info .contact-icon,
.checkout-section-wrapper .checkout-section .contact-information .contact-info .contact-action{
    width: 15%;
}


.checkout-section-wrapper .checkout-section .contact-information .email-info .email-detail,
.checkout-section-wrapper .checkout-section .contact-information .contact-info .contact-detail{
    padding: 0 10px;
    width: 70%;
}

.checkout-section-wrapper .checkout-section .contact-information .email-info .email-detail h3,
.checkout-section-wrapper .checkout-section .contact-information .contact-info .contact-detail h3{
    font-size: var(--font-7);
    font-weight: 400;
    color: var(--white);
    line-height: 1.2em;
    margin-bottom: 10px;
}

.checkout-section-wrapper .checkout-section .contact-information .email-info .email-detail p,
.checkout-section-wrapper .checkout-section .contact-information .contact-info .contact-detail p{
    font-size: var(--font-8);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.2em;
}

.checkout-section-wrapper .checkout-section .contact-information .email-info .email-detail form,
.checkout-section-wrapper .checkout-section .contact-information .contact-info .contact-detail form{
    display: none;
}

.checkout-section-wrapper .checkout-section .contact-information .email-info .email-detail form input,
.checkout-section-wrapper .checkout-section .contact-information .contact-info .contact-detail form input{
    font-size: var(--font-7);
    font-weight: 400;
    color: var(--white);
    line-height: 1.2em;
    margin-bottom: 10px;
    border: 2px solid var(--btn-bg);
    border-radius: 50px;
    padding: 10px 20px;
    background: var(--color-2);
    width: 100%;
}

.checkout-section-wrapper .checkout-section .contact-information .email-info .email-detail form input:focus,
.checkout-section-wrapper .checkout-section .contact-information .contact-info .contact-detail form input:focus{
    outline: none;
    box-shadow: none;
}

.checkout-section-wrapper .checkout-section .contact-information .email-info .email-detail form input::placeholder,
.checkout-section-wrapper .checkout-section .contact-information .contact-info .contact-detail form input::placeholder{
    color: var(--white);
}

.checkout-section-wrapper .checkout-section .contact-information .email-info .email-detail form button,
.checkout-section-wrapper .checkout-section .contact-information .contact-info .contact-detail form button{
    font-size: var(--font-7);
    font-weight: 400;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    color: var(--white);
    background: var(--btn-bg);
    text-align: center;
}

.checkout-section-wrapper .checkout-section .contact-information .email-info .email-action,
.checkout-section-wrapper .checkout-section .contact-information .contact-info .contact-action{
    text-align: right;
}

.checkout-section-wrapper .checkout-section .contact-information .email-info .email-action a:hover svg path,
.checkout-section-wrapper .checkout-section .contact-information .contact-info .contact-action a:hover svg path{
    stroke: var(--btn-bg);
}

.checkout-section-wrapper .checkout-section .address-information select,
.checkout-section-wrapper .checkout-section .payment-method .payment select{
    background: transparent;
    padding: 0;
    width: 100%;
    border: none;
    font-size: var(--font-6);
    font-weight: 400;
    color: var(--color-1);
    margin-bottom: 20px;
}

.checkout-section-wrapper .checkout-section .payment-method .payment select{
    width: 80%;
    margin-bottom: 0;
}

.checkout-section-wrapper .checkout-section .address-information select:focus,
.checkout-section-wrapper .checkout-section .payment-method .payment select{
    outline: none;
    box-shadow: none;
}

.checkout-section-wrapper .checkout-section .address-information img{
    width: 100%;
    margin-bottom: 20px;
}

.checkout-section-wrapper .checkout-section .payment-method .payment{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.popup-model{
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.3);
}

.popup-model .popup-content{
    text-align: center;
    background: var(--color-6); 
    margin: 55% auto; 
    padding: 40px 60px; 
    width: 90%;
    border-radius: 20px; 
    position: relative;
}

.popup-model .popup-content h2{
    font-size: var(--font-4);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    margin: 40px 0;
}

.popup-model .popup-content a.btn-backtohome{
    width: 100%;
    display: inline-block;
    font-size: var(--font-5);
    font-weight: 500;
    border-radius: 50px;
    padding: 16px 32px;
    color: var(--white);
    background: var(--btn-bg);
    text-align: center;
}
/* Checkout Page CSS Ends */

/* Notification Page CSS Starts */
.header-section .clear-all{
    text-align: right;
}

.header-section .clear-all a.btn-clearall{
    font-size: var(--font-7);
    font-weight: 500;
    color: var(--btn-bg);
    line-height: 1.2em;
    text-transform: capitalize;
    padding: 0;
}

.header-section .clear-all a.btn-clearall:hover{
    color: var(--white);
}

.notification-section-wrapper{
    padding: 10px;
}

.notification-section-wrapper .notification-section .notification{
    margin-bottom: 40px;
}

.notification-section-wrapper .notification-section .notification h2{
    font-size: var(--font-5);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    margin-bottom: 20px;
}

.notification-section-wrapper .notification-section .notification .item{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-bottom: 30px;
    position: relative;
}

.notification-section-wrapper .notification-section .notification .item .item-image{
    width: 25%;
    padding: 20px 10px;
    background: var(--color-2);
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.notification-section-wrapper .notification-section .notification .item .item-image img{
    width: 100%;
}

.notification-section-wrapper .notification-section .notification .item .item-info{
    width: 60%;
    padding: 0 15px;
}

.notification-section-wrapper .notification-section .notification .item .item-info a h2{
    font-size: var(--font-7);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    margin-bottom: 10px;
}

.notification-section-wrapper .notification-section .notification .item .item-info a:hover h2{
    color: var(--btn-bg);
}

.notification-section-wrapper .notification-section .notification .item .item-info p{
    font-size: var(--font-8);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
}

.notification-section-wrapper .notification-section .notification .item .item-info p span{
    color: var(--color-1);
    margin-left: 10px;
}

.notification-section-wrapper .notification-section .notification .item .item-time{
    width: 15%;
    position: relative;
}

.notification-section-wrapper .notification-section .notification .item .item-time h2{
    font-size: var(--font-9);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.2em;
    margin: 0;
    text-align: right;
}

.notification-section-wrapper .notification-section .notification .item:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: var(--btn-bg);
    margin-top: -8px;
}

.notification-section-wrapper .notification-section .notification.yesterday-notification .item:after{
    background: var(--color-1);
}
/* Notification Page CSS Ends */

/* Best Seller Page CSS Starts */
.header-section .bestseller-btn{
    text-align: right;
}

.header-section .bestseller-btn a{
    padding: 0;
    margin-right: 10px;
}

.header-section .bestseller-btn a:last-child{
    margin-right: 0;
}

.header-section .bestseller-btn a:hover svg path{
    stroke: var(--btn-bg);
}

.best-seller-section{
    padding: 20px 10px;
}

.best-seller-section .best-seller{
    display: flex;
    flex-wrap: wrap;
}

.best-seller-section .best-seller .item{
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px 15px;
    border-radius: 16px;
    background: var(--color-2);
    position: relative;
}

.best-seller-section .best-seller .item:nth-of-type( 2n + 2 ){
    margin-right: 0;
}

.best-seller-section .best-seller .item .item-image{
    text-align: center;
    margin-bottom: 10px;
}

.best-seller-section .best-seller .item .item-image img{
    transform: rotate(-14.5deg);
}

.best-seller-section .best-seller .item .item-info h5{
    font-size: var(--font-8);
    font-weight: 400;
    color: var(--btn-bg);
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.best-seller-section .best-seller .item .item-info{
    margin-bottom: 20px;
}

.best-seller-section .best-seller .item .item-info h2{
    font-size: var(--font-5);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    text-transform: capitalize;
}

.best-seller-section .best-seller .item .item-info p{
    font-size: var(--font-8);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.2em;
}

.best-seller-section .best-seller .item .item-price-color{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.best-seller-section .best-seller .item .item-price-color .price,
.best-seller-section .best-seller .item .item-price-color .color{
    width: 50%;
}

.best-seller-section .best-seller .item .item-price-color .price h2{
    font-size: var(--font-6);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
}

.best-seller-section .best-seller .item .item-price-color .color ul{
    display: flex;
    flex: wrap;
    justify-content: end;
}

.best-seller-section .best-seller .item .item-price-color .color ul li{
    width: 15px;
    height: 15px;
    border: 2px solid var(--background);
    border-radius: 100%;
    margin-right: 5px;
}

.best-seller-section .best-seller .item .item-price-color .color ul li:last-child{
    margin-right: 0;
}

.best-seller-section .best-seller .item .item-heart-btn{
    position: absolute;
    top: 10px;
    left: 10px;
}

.best-seller-section .best-seller .item .item-heart-btn a{
    width: 28px;
    height: 28px;
    background: var(--background);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.best-seller-section .best-seller .item .item-heart-btn a svg{
    width: 20px;
    height: 20px;
}

.best-seller-section .best-seller .item .item-heart-btn a:hover svg path,
.best-seller-section .best-seller .item .item-heart-btn a.active svg path{
    stroke: var(--color-4);
}
/* Best Seller Page CSS Ends */

/* Side Menu Page CSS Starts */
.side-menu-section-wrapper{
    padding: 80px 10px;
    background: url('../images/user-bg-img.png') no-repeat center right;
    background-size: 40% auto;
}

.side-menu-section-wrapper .side-menu{
    width: 50%;
}

.side-menu-section-wrapper .side-menu .user-block{
    margin-bottom: 40px;
}

.side-menu-section-wrapper .side-menu .user-block img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.side-menu-section-wrapper .side-menu .user-block p{
    font-size: var(--font-6);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.2em;
    margin-bottom: 10px;
}

.side-menu-section-wrapper .side-menu .user-block h2{
    font-size: var(--font-3);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    text-transform: capitalize;
}

.side-menu-section-wrapper .side-menu .menu-list ul li{
    margin-bottom: 40px;
}

.side-menu-section-wrapper .side-menu .menu-list ul li:last-child{
    margin-bottom: 0;
}

.side-menu-section-wrapper .side-menu .menu-list ul li a,
.side-menu-section-wrapper .side-menu .menu-list a.sign-out-btn{
    font-size: var(--font-6);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
}

.side-menu-section-wrapper .side-menu .menu-list ul li a:hover,
.side-menu-section-wrapper .side-menu .menu-list a.sign-out-btn:hover{
    color: var(--btn-bg);
}

.side-menu-section-wrapper .side-menu .menu-list ul li a svg,
.side-menu-section-wrapper .side-menu .menu-list a.sign-out-btn svg{
    margin-right: 20px;
}

.side-menu-section-wrapper .side-menu .menu-list hr{
    width: 147px;
    height: 2px;
    background: var(--color-7);
    margin: 60px 0;
}
/* Side Menu Page CSS Ends */

/* Profile Page CSS Starts */
.header-section .edit-btn .btn-back:hover svg path{
    stroke: var(--white);
}

.profile-section{
    padding: 20px 10px;
}

.profile-section .profile form .form-group.upload-img{
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}

.profile-section .profile form .form-group.upload-img img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-section .profile form .form-group.upload-img label{
    width: 100%;
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
}

.profile-section .profile form .form-group.upload-img h2{
    font-size: var(--font-4);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    text-transform: capitalize;
    margin: 10px 0;
}

.profile-section .profile form .form-group{
    margin-bottom: 20px;
}

.profile-section .profile form .form-group label{
    font-size: var(--font-6);
    font-weight: 500;
    color: var(--white);
    margin-bottom: 10px;
    width: 100%;
}

.profile-section .profile form .form-group input{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 50px;
    background: var(--color-2);
    color: var(--white);
}

.profile-section .profile form .form-group input:focus{
    outline: none;
    box-shadow: none;
}

.profile-section .profile form .form-group input::placeholder{
    color: var(--white);
}
/* Profile Page CSS Ends */

/* Account & Settings Page CSS Starts. */
.account-secttigs-section-wrapper{
    padding: 10px;
}

.account-secttigs-section-wrapper .account-section,
.account-secttigs-section-wrapper .app-setting-section{
    margin-bottom: 40px;
}

.account-secttigs-section-wrapper .account-section h2,
.account-secttigs-section-wrapper .app-setting-section h2{
    font-size: var(--font-5);
    font-weight: 500;
    color: var(--white); 
    line-height: 1.2em;
    margin-bottom: 20px;
}

.account-secttigs-section-wrapper .account-section ul li,
.account-secttigs-section-wrapper .app-setting-section ul li{
    padding: 20px 0;
    border-bottom: 1px solid var(--color-2);
}

.account-secttigs-section-wrapper .account-section ul li a:hover{
    color: var(--btn-bg);
}

.account-secttigs-section-wrapper .account-section ul li a{
    position: relative;
    width: 100%;
}

.account-secttigs-section-wrapper .account-section ul li a:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url('../images/right-arrow-icon.svg') no-repeat right center;
    width: 100%;
    height: 100%;
}

.account-secttigs-section-wrapper .account-section ul li a svg{
    margin-right: 10px;
}

.account-secttigs-section-wrapper .account-section ul li a,
.account-secttigs-section-wrapper .app-setting-section ul li{
    font-size: var(--font-6);
    font-weight: 400;
    color: var(--white);
    line-height: 1.2em;
}

.account-secttigs-section-wrapper .app-setting-section ul li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.account-secttigs-section-wrapper .app-setting-section ul li .switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
}

.account-secttigs-section-wrapper .app-setting-section ul li .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.account-secttigs-section-wrapper .app-setting-section ul li .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-2);
    -webkit-transition: .4s;
    transition: .4s;
}

.account-secttigs-section-wrapper .app-setting-section ul li .switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

.account-secttigs-section-wrapper .app-setting-section ul li .switch input:checked + .slider {
    background-color: var(--btn-bg);
}

.account-secttigs-section-wrapper .app-setting-section ul li .switch input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.account-secttigs-section-wrapper .app-setting-section ul li .switch .slider.round {
    border-radius: 34px;
}

.account-secttigs-section-wrapper .app-setting-section ul li .switch .slider.round:before {
    border-radius: 50%;
}
  
/* Account & Settings Page CSS Ends. */

/* Search Page Css Starts. */
.header-section .cancel-btn{
    text-align: center !important;
}

.search-section .search-history{
    padding: 20px 0;
}

.search-section .search-history h2{
    font-size: var(--font-5);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    margin-bottom: 20px;
}

.search-section .search-history ul li{
    margin-bottom: 10px;
}

.search-section .search-history ul li:last-child{
    margin-bottom: 0;
}

.search-section .search-history ul li a{
    width: 100%;
    font-size: var(--font-6);
    font-weight: 400;
    color: var(--white);
    line-height: 1.2em;
    text-transform: capitalize;
}

.search-section .search-history ul li a:hover{
    color: var(--btn-bg);
}

.search-section .search-history ul li a svg{
    margin-right: 10px;
}
/* Search Page Css Ends. */

/* Filter Section Starts */

.filter-section-wrapper{
    padding: 40px 10px 20px;
    background: var(--color-8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1000;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background); /* Semi-transparent black background */
    z-index: 999; /* Ensure it stays on top */
    opacity: 46%;
}

.filter-section-wrapper .filter-section{
    position: relative;
}

.filter-section-wrapper .filter-section:after{
    content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    right: 0;
    bottom: 0;
    background: var(--white);
    width: 60px;
    height: 5px;
    border-radius: 16px;
    margin-left: -30px;
}

.filter-section-wrapper .filter-section .filter-header{
    margin-bottom: 20px;
    position: relative;
}

.filter-section-wrapper .filter-section .filter-header h2{
    font-size: var(--font-3);
    font-weight: 500;
    color: var(--white); 
    line-height: 1.2em;
    text-align: center;
}

.filter-section-wrapper .filter-section .filter-header a{
    padding: 0;
    display: inline-block;
    font-size: var(--font-8);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.2em;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    right: 10px;
}

.filter-section-wrapper .filter-section .gender-filter,
.filter-section-wrapper .filter-section .size-filter,
.filter-section-wrapper .filter-section .price-filter{
    margin-bottom: 30px;
}

.filter-section-wrapper .filter-section .gender-filter h2,
.filter-section-wrapper .filter-section .size-filter h2,
.filter-section-wrapper .filter-section .price-filter h2{
    font-size: var(--font-5);
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
    margin-bottom: 10px;
}

.filter-section-wrapper .filter-section .gender-filter ul,
.filter-section-wrapper .filter-section .size-filter ul{
    display: flex;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.filter-section-wrapper .filter-section .gender-filter ul li,
.filter-section-wrapper .filter-section .size-filter ul li{
    margin-right: 20px;
}

.filter-section-wrapper .filter-section .gender-filter ul li:last-child,
.filter-section-wrapper .filter-section .size-filter ul li:last-child{
    margin-right: 0;
}

.filter-section-wrapper .filter-section .gender-filter ul li a,
.filter-section-wrapper .filter-section .size-filter ul li a{
    display: inline-block;
    font-size: var(--font-6);
    font-weight: 400;
    color: var(--color-1);
    line-height: 1.2em;
    background: var(--background);
    padding: 14px 30px;
    border-radius: 50px;
    text-align: center;
}

.filter-section-wrapper .filter-section .gender-filter ul li a:hover,
.filter-section-wrapper .filter-section .gender-filter ul li a.active,
.filter-section-wrapper .filter-section .size-filter ul li a:hover,
.filter-section-wrapper .filter-section .size-filter ul li a.active{
    background: var(--btn-bg);
    color: var(--white);
}

.filter-section-wrapper .filter-section .size-filter ul li a{
    width: 80px;
    padding: 15px 10px;
    text-transform: uppercase;
    text-align: center;
}

.filter-section-wrapper .filter-section .filter-header a:hover{
    color: #fff;
}

.filter-section-wrapper .filter-section .price-filter .range-slider {
    position: relative;
    margin: 20px 0;
    height: 50px;
}

.filter-section-wrapper .filter-section .price-filter .range-slider input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: transparent; /* Transparent for custom track */
    border-radius: 16px;
    outline: none;
    position: absolute;
    top: 0;
    pointer-events: none; /* Makes thumb interaction smoother */
}

.filter-section-wrapper .filter-section .price-filter .range-slider::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background: var(--background);
    border-radius: 16px;
    z-index: 1;
}

.filter-section-wrapper .filter-section .price-filter .range-slider::after {
    content: '';
    position: absolute;
    height: 6px;
    background: var(--btn-bg);
    border-radius: 16px;
    z-index: 2;
    top: 0;
    left: calc(var(--min-percent, 0) * 1%);
    right: calc(100% - (var(--max-percent, 100) * 1%));
}

.filter-section-wrapper .filter-section .price-filter .range-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: var(--white);
    border: 2px solid var(--btn-bg);
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    z-index: 3;
}

.filter-section-wrapper .filter-section .price-filter .range-slider .price-indicator {
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: var(--font-6);
    font-weight: 500;
    color: var(--color-1);
}

.filter-section-wrapper .filter-section .filter-button a.apply-btn{
    width: 100%;
    padding: 16px;
    border-radius: 50px;
    background: var(--btn-bg);
    color: var(--white);
    font-size: var(--font-5);
    font-weight: 500;
    text-align: center;
    display: inline-block;
}
/* Filter Section Ends */