
:root{

    /* Table Responsive Size */

    --hero-tablet-heading-font: 42px;
    --heading-tablet-font: 32px;
    --newsletter-tablet-font: 38px;
    --title-tablet-heading-font: 18px;
    --sub-tablet-heading-font: 20px;
    --small-tablet-heading-font: 24px;
    --player-tablet-desc-font: 26px;

    /* Mobile Responsive Size */
    
    --hero-mobile-heading-font: 36px;
    --heading-mobile-font: 28px;
    --newsletter-mobile-font: 34px;
    --title-mobile-heading-font: 16px;
    --sub-mobile-heading-font: 18px;
    --small-mobile-heading-font: 20px;
    --player-mobile-desc-font: 22px;

}

@media only screen and (max-width: 1440px){

    /* ---------- Home Page CSS Starts ------------ */

    .marketing-section .video-individual-row.library-section .video-individual-img img{
        transform: translate(160px, 0);
    }

    /* ---------- Home Page CSS Ends ------------ */

}

@media only screen and (max-width: 1366px){

    /* ---------- Home Page CSS Starts ------------ */

    .marketing-section .comparison-row .comparison-img img{
        width: 80%;
    }
    
    .marketing-section .comparison-row .comparison-img:after{
        left: 50px;
        width: 80%;
        height: 75%;
        background-size: 100% auto;
    }

    /* ---------- Home Page CSS Ends ------------ */

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 991px) {

    /* Header CSS Starts */
    header.header-main-wrapper{
        padding: 20px 0px;
    }

    header.header-main-wrapper .header-logo{
        padding-left: 10px;
    }

    header.header-main-wrapper .menu{
        padding-right: 10px;
    }

    header.header-main-wrapper .header-logo a img{
        width: 50%;
    }

    header.header-main-wrapper .navbar-toggle {
        display: block;
    }

    header.header-main-wrapper .navbar-nav {
        display: none;
    }

    header.header-main-wrapper #responsive-menu {
        display: block;
        width: 100%;
        position: relative;
        z-index: 100;
    }

    header.header-main-wrapper #responsive-menu ul.slicknav_nav li a.slicknav_item span.slicknav_arrow{
        display: none;
    }

    header.header-main-wrapper #responsive-menu ul.slicknav_nav li .special-submenu{
        margin: 0;
    }

    header.header-main-wrapper ul.slicknav_nav li > a{
        padding: 10px 20px !important;
        margin: 0 !important;
    }

    header.header-main-wrapper .navbar {
        justify-content: flex-end;
    }

    header.header-main-wrapper .navbar-toggle .slicknav_btn .slicknav_icon span.slicknav_icon-bar{
        height: 2px;
    }

    header.header-main-wrapper .primary-menu li.tablet-show{
        display: block;
    }

    header.header-main-wrapper .tablet-col-none{
        display: none;
    }

    /* ---------- Home Page CSS Ends ------------ */

    /* ---------- Footer CSS Starts ------------ */
    .footer-section{
        padding: 60px 10px;
    }

    .footer-section .footer-heading{
        margin-bottom: 30px;
    }

    .footer-section .footer-heading h2{
        font-size: var(--sub-tablet-heading-font);
    }

    .footer-section .row.footer-row{
        margin-bottom: 80px;
    }

    .footer-section .row.footer-row:after{
        width: 98%;
        margin-left: -49%;
        transform: translateY(42px);
    }

    .footer-section .row.footer-row .footer-col-one,
    .footer-section .row.footer-row .footer-col-two{
        margin-bottom: 40px;
    }

    .footer-section .row.catenoid-detail-row .catenoid-content h2,
    .footer-section .row.catenoid-detail-row .copy-right-content h2,
    .footer-section .row.catenoid-detail-row .catenoid-content h2 a,
    .footer-section .row.catenoid-detail-row .copy-right-content h2 a{
        font-size: var(--sub-tablet-heading-font);
    }

    /* ---------- Footer CSS Ends ------------ */

    /* ---------- Home Page CSS Starts ------------ */

    .hero-main-section{
        padding: 130px 10px 200px;
        background-size: cover;
    }

    .hero-main-section .hero-section .hero-heading h2{
        font-size: var(--hero-tablet-heading-font);
    }
    
    .hero-main-section .hero-section .hero-heading p{
        font-size: var(--sub-tablet-heading-font);
        margin-bottom: 40px;
    }

    .hero-main-section .hero-section .hero-heading p br{
        display: none;
    }
    
    .hero-main-section .hero-section .hero-img{
        margin-bottom: -400px;
    }

    .hero-main-section .hero-section .hero-img img{
        width: 100%;
    }

    .feature-main-section{
        padding: 230px 10px 30px;
    }

    .feature-heading{
        margin-bottom: 20px;
    }
    
    .feature-heading h2,
    .feature-product-section .feature-content h2,
    .coding-section .coding-content h2,
    .frustrated-main-section .frustrated-content h2,
    .multiple-video-play-section .play-multiple-video-heading h2,
    .multiple-video-play-section .player-box .player-content h2{
        font-size: var(--heading-tablet-font);
    }
    
    .feature-heading h5,
    .feature-product-section .feature-content h5{
        font-size: var(--title-tablet-heading-font);
    }
    
    .feature-box-list .feature-box{
        margin: 0px;
    }
    
    .feature-box-list .feature-box h2{
        font-size: var(--small-tablet-heading-font);
    }

    .feature-product-section{
        padding: 30px 10px 60px;
    }

    .feature-product-section .row.full-width-sections{
        margin-right: 0;
    }

    .feature-product-section .feature-video iframe{
        margin-bottom: 40px;
    }

    .feature-product-section .row.full-width-sections .feature-content{
        padding: 0;
    }

    .feature-product-section .feature-content h3,
    .coding-section .coding-content h3{
        font-size: var(--sub-tablet-heading-font);
    }

    .feature-product-section .feature-purchase{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin-top: 100px;
    }

    .feature-product-section:before{
        background-size: 80% auto;
        transform: translate(-50%, -50%);
    }

    .feature-purchase .feature-content{
        padding-right: 0;
    }

    .feature-purchase .feature-purchase-video{
        margin-bottom: 40px;
    }

    .feature-product-section .row.full-width-sections .col-lg-6{
        padding: 0 12px !important;
    }

    .frustrated-main-section{
        padding: 60px 10px;
    }

    .frustrated-main-section .frustrated-content h5{
        font-size: var(--title-tablet-heading-font);
    }
    
    .frustrated-main-section .frustrated-content h2{
        font-size: var(--heading-tablet-font);
    }
    
    .frustrated-main-section .frustrated-content h3{
        font-size: var(--sub-tablet-heading-font);
    }

    .coding-section{
        padding: 30px 0px;
    }
    
    .coding-section .row.coding-row{
        margin-left: 0;
    }
    
    .coding-section .row.coding-row{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    
    .coding-section .coding-image{
        border-radius: 50px 0 0 50px;
        padding: 180px 40px 40px;
        margin-bottom: 20px;
        margin-left: 8px;
    }
    
    .coding-section .coding-image:after{
        right: 40px;
    }
    
    .coding-section .coding-image img{
        margin-left: 0px;
        box-shadow: var(--btn-box-shadow);
        width: 80%;
    }

    .coding-section .coding-content{
        padding: 0 30px 0 10px;
    }

    .multiple-video-play-section{
        padding: 60px 10px 40px;
    }
    
    .multiple-video-play-section .player-box .player-content{
        margin: 30px 10px 0;
    }

    .multiple-video-play-section .player-box .player-content p{
        font-size: var(--player-tablet-desc-font);
        margin-bottom: 20px;
    }
    
    .marketing-section{
        padding: 30px 0 60px;
    }

    .marketing-section .marketing-heading{
        margin-bottom: 50px;
        padding: 0 12px;
    }

    .marketing-section .marketing-heading h2{
        font-size: var(--heading-tablet-font);
    }

    .marketing-section .video-individual-row{
        margin-right: 0;
    }
    
    .marketing-section .video-individual-row .video-individual-img{
        border-radius: 0 50px 50px 0;
        padding: 280px 40px 40px;
        margin: 0 10px 20px 0;
    }
    
    .marketing-section .video-individual-row .video-individual-img:after{
        top: 40px;
        right: 40px;
    }
    
    .marketing-section .video-individual-row .video-individual-img img{
        box-shadow: var(--btn-box-shadow);
        border-radius: 10px;
        width: 80%;
    }
    
    .marketing-section .video-individual-row .video-individual-content{
        padding: 0px 22px;
    }
    
    .marketing-section .video-individual-row .video-individual-content h5,
    .marketing-section .comparison-row .comparison-content h5{
        font-size: var(--title-tablet-heading-font);
    }
    
    .marketing-section .video-individual-row .video-individual-content h2,
    .marketing-section .comparison-row .comparison-content h2{
        font-size: var(--heading-tablet-font);
    }
    
    .marketing-section .video-individual-row .video-individual-content h3,
    .marketing-section .comparison-row .comparison-content h3{
        font-size: var(--sub-tablet-heading-font);
    }

    .marketing-section .comparison-row{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin-left: 0;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .marketing-section .comparison-row .comparison-img:after{
        content: '';
        position: absolute;
        top: 40px;
        left: 100px;
        background: url('../images/video-img-1.png') no-repeat;
        width: 562px;
        height: 501px;
        box-shadow: 0 24px 64px 0 rgba(0, 0, 0, 0.08);
        border-radius: 10px;
    }
    
    .marketing-section .comparison-row .comparison-img img{
        margin-left: 0px;
    }
    
    .marketing-section .comparison-row .comparison-content{
        padding: 0px 22px;
    }

    .marketing-section .comparison-row .comparison-img{
        border-radius: 50px 0 0 50px;
        padding: 280px 40px 40px;
        margin: 0 0 20px 10px;
    }

    .marketing-section .comparison-row .comparison-img:after{
        top: 40px;
        left: unset;
        right: 40px;
    }

    .marketing-section .video-individual-row.library-section .video-individual-img img{
        transform: translate(100px, 0);
    }
     
    .newsletter-section .container{
        max-width: 700px;
        margin: 0 auto;
        padding: 60px 20px;
        background-size: 30% auto;
    }
    
    .newsletter-section .newsletter-content h2{
        font-size: var(--newsletter-tablet-font);
    }
    
    .newsletter-section .newsletter-content h3{
        font-size: var(--sub-tablet-heading-font);
    }
    
    /* ---------- Home Page CSS Ends ------------ */

    /* ---------- Pricing Page CSS Starts ------------ */
    
    .pricing-hero-section{
        padding: 130px 10px 60px;
        background-size: 30% auto;
    }

    .pricing-hero-section .pricing-heading h2{
        font-size: var(--hero-tablet-heading-font);
    }

    .price-info-section{
        padding: 60px 10px;
    }

    .price-info-section .price-info h2{
        font-size: var(--heading-tablet-font);
    }

    .price-info-section .price-info h3{
        font-size: var(--sub-tablet-heading-font);
    }

    .price-list .col-md-6{
        margin-bottom: 80px;
    }

    .price-list .col-md-6:last-child{
        margin-bottom: 0;
    }

    .price-list .price-box .price-amount{
        margin: 20px 0;
        padding: 15px 0 10px;
    }
    
    .price-list .price-box .price-amount h2{
        font-size: var(--heading-tablet-font);
    }
    
    .price-list .price-box .price-btn:before{
        width: 82%;
        margin-left: -41%;
    }
    
    .price-contact-info .price-contact h2{
        font-size: var(--sub-tablet-heading-font);
    }

    .function-details-section{
        padding: 60px 10px;
    }
    
    .function-details-section .function-details-heading h2{
        font-size: var(--heading-tablet-font);
    }

    .function-details-plan-table table.short-from-support-table thead.table-heading tr td,
    .function-details-plan-table table.displayer-table thead.table-heading tr td,
    .function-details-plan-table table.shop-player-table thead.table-heading tr td,
    .function-details-plan-table table.statistics-table thead.table-heading tr td,
    .function-details-plan-table table.support-table thead.table-heading tr td{
        font-size: var(--sub-tablet-heading-font);
        
    }

    .faq-section{
        padding: 60px 10px;
        margin-bottom: 60px;
    }
    
    .faq-section .faq-heading h2{
        font-size: var(--heading-tablet-font);
    }

    /* ---------- Pricing Page CSS Ends ------------ */

    /* ---------- E-Commerce Page CSS Starts ------------ */
    
    .ecommerce-hero-section{
        padding: 130px 10px 60px;
        background-size: 30% auto;
    }

    .ecommerce-hero-section .ecommerce-heading h2{
        font-size: var(--hero-tablet-heading-font);
    }
    
    .ecommerce-main-section{
        padding: 60px 10px 20px;
    }

    .ecommerce-main-section .feature-box img{
        width: 70%;
    }

    /* ---------- E-Commerce Page CSS Ends ------------ */

    /* ---------- Fashion Page CSS Starts ------------ */
    
    .fashion-hero-section{
        padding: 130px 10px 60px;
        background-size: 30% auto;
    }
    
    .fashion-hero-section .fashion-heading h2{
        font-size: var(--hero-tablet-heading-font);
    }
    
    .fashion-product-section{
        padding: 60px 10px;
        margin-bottom: 60px;
    }

    
    .fashion-product-section .fashion-content h5{
        font-size: var(--title-tablet-heading-font);
    }
    
    
    .fashion-product-section .fashion-content h2{
        font-size: var(--heading-tablet-font);
    }
    
    .fashion-product-section .fashion-content h3{
        font-size: var(--sub-tablet-heading-font);
    }
    
    .fashion-product-section .fashion-content{
        padding-left: 0px;
        margin-top: 40px;
    }
    
    .fashion-product-section .fashion-video:before{
        content: '';
        position: absolute;
        bottom: 60px;
        left: 50%;
        right: 0;
        background: var(--color-blue);
        width: 90%;
        height: 300px;
        opacity: 0.1;
        border-radius: 50px;
        z-index: -10;
        margin-left: -45%;
    }

    /* ---------- Fashion Page CSS Ends ------------ */

    /* ---------- Media Page CSS Starts ------------ */

    .media-hero-section{
        padding: 130px 10px 60px;
        background-size: 30% auto;
    }

    .media-hero-section .media-heading h2{
        font-size: var(--hero-tablet-heading-font);
    }

    .media-section{
        padding: 60px 10px;
    }
    
    .media-section .media-heading-part h2,
    .media-section .player-box .player-content h2{
        font-size: var(--heading-tablet-font);
    }
    
    .media-section .player-box .player-content{
        margin: 30px 10px 0;
    }
    
    .media-section .player-box .player-content p{
        font-size: var(--player-tablet-desc-font);
        margin-bottom: 20px;
    }

    /* ---------- Media Page CSS Ends ------------ */

    /* ---------- DTC Page CSS Starts ------------ */

    .dtc-hero-section{
        padding: 130px 10px 60px;
        background-size: 30% auto;
    }

    .dtc-hero-section .dtc-heading h2{
        font-size: var(--hero-tablet-heading-font);
    }

    .dtc-section{
        padding: 60px 0px;
    }

    /* ---------- DTC Page CSS Ends ------------ */

    /* ---------- Cosmetics Page CSS Starts ------------ */

    .cosmetic-hero-section{
        padding: 130px 10px 60px;
        background-size: 30% auto;
    }

    .cosmetic-hero-section .cosmetic-heading h2{
        font-size: var(--hero-tablet-heading-font);
    }

    .cosmetic-section{
        padding: 60px 10px;
        margin-bottom: 60px;
    }

    .cosmetic-section .cosmetic-content h5{
        font-size: var(--title-tablet-heading-font);
    }

    .cosmetic-section .cosmetic-content h2{
        font-size: var(--heading-tablet-font);
    }

    .cosmetic-section .cosmetic-content h3{
        font-size: var(--sub-tablet-heading-font);
    }

    /* ---------- Cosmetics Page CSS Ends ------------ */

}

@media only screen and (max-width: 767px){
    
   /* ---------- Header CSS Starts ------------ */

   header.header-main-wrapper .header-logo a img{
        width: 70%;
   }

   /* ---------- Header CSS Ends ------------ */

   /* ---------- Footer CSS Starts ------------ */
    
    .footer-section .footer-heading h2{
        font-size: var(--sub-mobile-heading-font);
    }

    .footer-section .row.footer-row:after{
        width: 100%;
        margin-left: -50%;
    }

    .footer-section .row.footer-row .footer-col-three{
        margin-bottom: 40px;
    }

    .footer-section .footer-heading h2:after{
        width: 30px;
        height: 3px;
        transform: translateY(10px);
    }

    .footer-section .row.catenoid-detail-row .catenoid-content h2,
    .footer-section .row.catenoid-detail-row .copy-right-content h2,
    .footer-section .row.catenoid-detail-row .catenoid-content h2 a,
    .footer-section .row.catenoid-detail-row .copy-right-content h2 a{
        font-size: var(--sub-mobile-heading-font);
    }

    /* ---------- Footer CSS Ends ------------ */

    /* ---------- Home Page CSS Starts ------------ */

    .hero-main-section{
        padding: 120px 10px 200px;
    }

    .hero-main-section .hero-section .hero-heading h2{
        font-size: var(--hero-mobile-heading-font);
        margin-bottom: 10px;
    }

    .hero-main-section .hero-section .hero-heading p{
        font-size: var(--sub-mobile-heading-font);
        margin-bottom: 20px;
    }

    .hero-main-section .hero-section .hero-heading a.btn-get-started{
        padding: 14px 30px;
    }

    .hero-main-section .hero-section .hero-img{
        margin-bottom: -310px;
    }

    .feature-main-section{
        padding: 150px 10px 20px;
    }

    .feature-heading h2,
    .feature-product-section .feature-content h2,
    .coding-section .coding-content h2,
    .multiple-video-play-section .play-multiple-video-heading h2,
    .multiple-video-play-section .player-box .player-content h2{
        font-size: var(--heading-mobile-font);
    }

    .feature-heading h5,
    .feature-product-section .feature-content h5{
        font-size: var(--title-mobile-heading-font);
    }
    
    .feature-box-list .col-12 .feature-box{
        margin-bottom: 40px;
    }

    .feature-box-list .col-12:last-child .feature-box{
        margin-bottom: 0;
    }

    .feature-box-list .feature-box h2{
        font-size: var(--small-mobile-heading-font);
        margin-bottom: 10px;
    }

    .feature-product-section .feature-content h3,
    .coding-section .coding-content h3{
        font-size: var(--sub-mobile-heading-font);
    }

    .feature-product-section .feature-video iframe{
        margin-bottom: 20px;
    }

    .feature-product-section:before{
        background-size: 100% auto;
        background-position: 100% 20%;
        transform: translate(0%, 0%);
        left: 0;
        top: 0;
        width: 100%;
        max-width: 500px;
    }
    
    .feature-product-section .feature-purchase{
        margin-top: 80px;
    }

    .feature-purchase .feature-purchase-video:before {
        bottom: 40px;
        width: 100%;
        height: 150px;
        border-radius: 25px;
        margin-left: -50%;
    }

    .feature-purchase .feature-purchase-video {
        margin-bottom: 30px;
    }

    .frustrated-main-section .frustrated-content h5{
        font-size: var(--title-mobile-heading-font);
    }
    
    .frustrated-main-section .frustrated-content h2{
        font-size: var(--heading-mobile-font);
        margin-bottom: 10px;
    }
    
    .frustrated-main-section .frustrated-content h3{
        font-size: var(--sub-mobile-heading-font);
    }

    .coding-section .coding-image:after{
        width: 150px;
        height: 75px;
        background-size: 100% auto;
    }

    .coding-section .coding-image{
        border-radius: 30px 0 0 30px;
        padding: 90px 30px 30px;
        margin-bottom: 20px;
        margin-left: 8px;
    }

    .multiple-video-play-section .play-multiple-video-heading img{
        display: none;
    }

    .multiple-video-play-section .play-multiple-video-heading{
        margin-bottom: 40px;
    }

    .multiple-video-play-section .player-box .player-content{
        margin: 30px 0px 0;
    }

    .multiple-video-play-section .player-box .player-content p{
        font-size: var(--player-mobile-desc-font);
    }

    .multiple-video-play-section .col-lg-6 .player-box{
        margin-bottom: 40px;
    }

    .multiple-video-play-section .col-lg-6:last-child .player-box{
        margin-bottom: 0;
    }

    .marketing-section .marketing-heading h2{
        font-size: var(--heading-mobile-font);
    }
    
    .marketing-section .video-individual-row .video-individual-img{
        padding: 75px 30px 30px;
        margin: 0 10px 20px 0;
        border-radius: 0 30px 30px 0;
    }
    
    .marketing-section .video-individual-row .video-individual-img:after{
        top: 30px;
        right: 30px;
        width: 200px;
        height: 175px;
        background-size: 100% auto;
    }
    
    .marketing-section .video-individual-row .video-individual-content h5,
    .marketing-section .comparison-row .comparison-content h5{
        font-size: var(--title-mobile-heading-font);
    }
    
    .marketing-section .video-individual-row .video-individual-content h2,
    .marketing-section .comparison-row .comparison-content h2{
        font-size: var(--heading-mobile-font);
    }
    
    .marketing-section .video-individual-row .video-individual-content h3,
    .marketing-section .comparison-row .comparison-content h3{
        font-size: var(--sub-mobile-heading-font);
    }

    .marketing-section .comparison-row .comparison-img{
        padding: 75px 30px 30px;
    }

    .marketing-section .comparison-row .comparison-img:after{
        top: 30px;
        right: 30px;
        width: 200px;
        height: 175px;
        background-size: 100% auto;
    }

    .marketing-section .comparison-row{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .marketing-section .video-individual-row.library-section .video-individual-img{
        padding: 30px 30px 100px;
    }

    .marketing-section .video-individual-row.library-section .video-individual-img img{
        transform: translate(60px, 0);
        width: 80%;
    }

    .marketing-section .video-individual-row.library-section .video-individual-img:before{
        bottom: 30px;
        left: 30px;
        width: 200px;
        height: 120px;
        background-size: 100% auto;
    }

    .marketing-section:before{
        width: 100%;
        left: 0;
        margin-left: 0;
        background-size: 100% auto;
    }

    .newsletter-section .container{
        background-size: 80% auto;
    }

    .newsletter-section .newsletter-content,
    .newsletter-section .newsletter-btn{
        text-align: center;
    }
    
    .newsletter-section .newsletter-content h2{
        font-size: var(--newsletter-mobile-font);
    }
    
    .newsletter-section .newsletter-content h3{
        font-size: var(--sub-mobile-heading-font);
    }

    .newsletter-section .newsletter-content{
        margin-bottom: 40px;
    }

    /* ---------- Home Page CSS Ends ------------ */

    /* ---------- Pricing Page CSS Starts ------------ */
    
    .pricing-hero-section{
        padding: 120px 10px 40px;
        background-size: 30% auto;
    }

    .pricing-hero-section .pricing-heading h2{
        font-size: var(--hero-mobile-heading-font);
    }

    .price-info-section .price-info h2{
        font-size: var(--heading-mobile-font);
    }

    .price-info-section .price-info h3{
        font-size: var(--sub-mobile-heading-font);
    }

    .price-list .price-box{
        padding: 30px 20px 100px;
    }

    .price-list .price-box .price-amount h2{
        font-size: var(--heading-mobile-font);
    }

    .price-list .price-box .price-btn:before{
        width: 86%;
        margin-left: -43%;
    }
    
    .price-contact-info .price-contact h2{
        font-size: var(--sub-mobile-heading-font);
    }

    .function-details-section .function-details-heading h2{
        font-size: var(--heading-mobile-font);
    }

    .function-details-plan-table table.short-from-support-table thead.table-heading tr td,
    .function-details-plan-table table.displayer-table thead.table-heading tr td,
    .function-details-plan-table table.shop-player-table thead.table-heading tr td,
    .function-details-plan-table table.statistics-table thead.table-heading tr td,
    .function-details-plan-table table.support-table thead.table-heading tr td{
        font-size: var(--sub-mobile-heading-font);
    }

    .faq-section .faq-heading h2{
        font-size: var(--heading-mobile-font);
    }

    /* ---------- Pricing Page CSS Ends ------------ */

    /* ---------- Ecommerce Page CSS Starts ------------ */

    .ecommerce-hero-section .ecommerce-heading h2{
        font-size: var(--hero-mobile-heading-font);
    }

    .ecommerce-main-section .feature-box img{
        width: 60%;
    }

    /* ---------- Ecommerce Page CSS Ends ------------ */

    /* ---------- Fashion Page CSS Starts ------------ */
    
    .fashion-hero-section .fashion-heading h2{
        font-size: var(--hero-mobile-heading-font);
    }
    
    .fashion-product-section .fashion-content h5{
        font-size: var(--title-mobile-heading-font);
    }
    
    
    .fashion-product-section .fashion-content h2{
        font-size: var(--heading-mobile-font);
    }
    
    .fashion-product-section .fashion-content h3{
        font-size: var(--sub-mobile-heading-font);
    }
    
    .fashion-product-section .fashion-video:before{
        bottom: 40px;
	    width: 100%;
	    height: 150px;
	    border-radius: 25px;
	    margin-left: -50%;
    }

    /* ---------- Fashion Page CSS Ends ------------ */

    /* ---------- Media Page CSS Starts ------------ */

    .media-hero-section .media-heading h2{
        font-size: var(--hero-mobile-heading-font);
    }

    .media-section .media-heading-part img{
        display: none;
    }
    
    .media-section .media-heading-part h2{
        margin-bottom: 40px;
    }

    .media-section .col-lg-6 .player-box{
        margin-bottom: 40px;
    }

    .media-section .col-lg-6:last-child .player-box{
        margin-bottom: 0;
    }

    .media-section .media-heading-part h2,
    .media-section .player-box .player-content h2{
        font-size: var(--heading-mobile-font);
    }
    
    .media-section .player-box .player-content{
        margin: 30px 10px 0;
    }
    
    .media-section .player-box .player-content p{
        font-size: var(--player-mobile-desc-font);
        margin-bottom: 20px;
    }
    
    /* ---------- Media Page CSS Ends ------------ */

    /* ---------- DTC Page CSS Starts ------------ */

    .dtc-hero-section .dtc-heading h2{
        font-size: var(--hero-mobile-heading-font);
    }

    /* ---------- DTC Page CSS Ends ------------ */

    /* ---------- Cosmetics Page CSS Starts ------------ */

    .cosmetic-hero-section .cosmetic-heading h2{
        font-size: var(--hero-mobile-heading-font);
    }

    .cosmetic-section .cosmetic-content h5{
        font-size: var(--title-mobile-heading-font);
    }

    .cosmetic-section .cosmetic-content h2{
        font-size: var(--heading-mobile-font);
    }

    .cosmetic-section .cosmetic-content h3{
        font-size: var(--sub-mobile-heading-font);
    }

    /* ---------- Cosmetics Page CSS Ends ------------ */
    
}